/* .container {
    display: block;
} */

.input-box{
    text-align: center;
}

.input-box input{
    width: 70vw;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(245, 94, 117, 0.45);
    color: white;
    border: 1px solid white;
}

.input-box textarea{
    width: 70vw;
    height: 30vh;
    margin-left: 81.5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(245, 94, 117, 0.45);
    color: white;
    border: 1px solid white;
}

.input-box button{
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.input-box button:hover{
    color: gray;
}