:root{
    --bg--color:  #00203FFF;
    --second-bg--color: #7A2048;
    --text-color: #fff;
    --main-color: #42EADDFF;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img {
    border: 1px solid white;
    margin: 100px 10px 10px 30px;
    border-radius: 60px 60px 60px 2px;
    padding: 14px;
}

.item {
    margin: 100px 10px 10px 10px;
}

.item h3{
    color: var(--text-color);
    font-weight: 600;
}

.item h3 span {
    color: var(--main-color);
}

.item h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.item p {
    color: var(--text-color);
}

.item .btn {
    display: inline-block;
    padding: .3rem 1.3rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg--color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.item .btn:hover {
    box-shadow: none;
}